.container-fluid{
 
    margin: auto;
    width:90% ;
    margin-top:50px;
  }
  
  .table-responsive{
    max-height: 700px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
    
  .thead-dark{
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(26, 22, 22);
    color:aliceblue;
  }

  .colsize {
    float: left;
    width: 33.33%;
    padding: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  